# Ignore node_modules
node_modules/
.turbo/
.vscode/

# Ignore build files
dist/
out/
.parcel-cache/
.next/
.vercel/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore system files
.DS_Store
Thumbs.db
